.circle-one-home {
    background-color: var(--circle-one);
    height: 28rem;
    width: 28rem;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    bottom: 150px;
    left: 200px;
}

.circle-two-home {
    background-color: var(--circle-two);
    height: 28rem;
    width: 28rem;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: -140px;
    left: 550px;
}

.circle-three-home {
    background-color: var(--circle-two);
    height: 50rem;
    width: 50rem;
    border-radius: 50%;
    position: absolute;
    bottom: -25rem;
    right: -25rem;
}

@media only screen and (min-width:390px) and (max-width:768px) {
    .circle-one-home{
        height: 8rem;
        width: 8rem;
        bottom: 92px;
        left: 36px;
    }

    .circle-two-home{
        height: 8rem;
        width: 8rem; 
        top: -40px;
        left: 80px;
    }

    .circle-three-home{
        height: 8rem;
        width: 8rem;
        top: 677px;
        left: 305px;
    }
}


