.maindiscover-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.text-container {
    margin-top: 1.8rem;
}
.title-box {
    font-size: 3.7rem;
    font-weight:400;
    margin-bottom: 0.6rem;
}

.icons-container {
    padding: 0.6rem 0rem 0.6rem 0rem;
}

.icon {
    margin-right: 1.25rem;
}

.covers-img {
    /* width: 16rem;
    height: 16rem; */
    width: 24rem;
    height: 25rem;
    margin-bottom: 1.25rem;
}
.subtitle-box {
    font-size: 1.2rem;
    margin-top: 0.6rem;
    font-weight: lighter;
}


@media only screen and (max-width:768px) {
    .maindiscover-container {
        flex-direction: column;
        align-items: center;
        margin-left: 30px;
    }

    .title-box {
        font-size: 2.87rem;
        margin-bottom: 0rem;   
    }

    .subtitle-box {
        font-size: 1rem;
    }

    .icon {
        width: 5.3rem;
        height: 5.5rem;
    }

    .covers-img {
        /* width: 16rem;
        height: 16rem; */
        width: 15.3rem;
        height: 15.5rem;
        margin: 0rem 1.8rem 0rem 0rem;
    }
    
}