.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    flex: 1;
}
.logo-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nav-container{
    display: flex;
    gap: 2rem;
}

.links{
    text-decoration: none;
    color: var(--font-color);
}
.links:hover{
    color: var(--nav-hover);
}
