@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --body-color: #2f303a;
  --font-color: white;
  --dark-background-color: #211F27;
  --nav-hover: #ADADAD;
  --accent-text: #D3007B;
  --border-input: #2E3852;
  --border-input-focus: #596DA0;
  --button-background: #1762A7;
  --button-hover: #2180D8;
  --button-focus: #2796FF;
  --circle-one: #BC3A801A;
  --circle-two: #3457B21A;
}

body {
  background-color: var(--body-color);
  color: var(--font-color);
}

/* #root{
  height: 100%;
} 

html, body{
  height: 100%;
}  */